/* Product Container */
.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 20px;
}

.product-container a{
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 20px;
    border-radius: 20px;
}

  /* Individual Product */
.product-card {
    border: 3px solid #FFB53F;
    border-radius: 23px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-card .price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.product-card:hover{
    background-color: #e6f7ff;
    transition: 0.3S ease;
}

.main{
    margin: 20px;
}

/* banner */
.main-banner .container-fluid {
	padding: 0px 10px;
	margin-bottom: -24px;
}

/* Product Container */
.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 20px;
}

.product-container a{
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 20px;
    border-radius: 20px;
}

  /* Individual Product */
.product-card {
    border: 3px solid #FFB53F;
    border-radius: 23px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-card .price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.product-card:hover{
    background-color: #e6f7ff;
    transition: 0.3S ease;
}

.main{
    margin: 20px;
}

/* Call To Action */

.call-to-action {
	margin-top: 100px;
}

.call-to-action .main-content {
	padding: 40px;
	background-image: url(../images/cta-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.call-to-action .main-content span {
	color: #f48840;
	font-size: 18px;
	font-weight: 900;
	letter-spacing: 0.5px;
}

.call-to-action .main-content h4 {
	margin-bottom: 0px;
	margin-top: 12px;
	color: #fff;
	font-size: 26px;
	font-weight: 900;
	letter-spacing: 0.25px;
}

.call-to-action .main-content .main-button {
	text-align: right;
	margin-top: 12px;
}

        /* Carousel Styles */
        .carousel {
            position: relative;
            max-width: 800px;
            margin: auto;
            overflow: hidden;
        }

        .carousel-images {
            display: flex;
            transition: transform 0.5s ease;
        }

        .carousel-image {
            min-width: 100%;
            box-sizing: border-box;
        }

        .carousel img {
            width: 100%;
            height: auto;
        }

        .carousel-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, 0.8);
            border: none;
            cursor: pointer;
            padding: 10px;
            font-size: 18px;
        }

        .carousel-button.left {
            left: 10px;
        }

        .carousel-button.right {
            right: 10px;
        }