/* The navigation bar */
.navbar {
  background-color: #FFFDD6;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  right:0;
}

.navbar_td{
  text-align: right;
  height:50px;
  padding: 0 20px
}

.navbar_ul{
  display: inline;
  list-style-type: none;
  padding: 0 0;
}

  /* Links inside the navbar */
.navbar_ul a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.navbar .buttons {
  padding: 0 0;
  height: 50;
}

/* Style buttons */
.navbar button {
  background-color: #FFFDD6;
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
  padding: 0 0;
  border-radius: 10px;
}

/* Darker background on mouse-over */
.navbar button:hover {
  background-color: #b2e5fd;
}

.logo {
  margin: 10%;
  margin-bottom: 25%;
  position: absolute;
  height: 60;
  top:50%;
  left:50%;
}

  /* Main content */
.main {
  margin-top: 60px; /* Add a top margin to avoid content overlay */
}