@font-face {
  font-family: 'NunitoSans';
  src: url(font/NunitoSans.ttf);
}

* {
  font-family: 'NunitoSans';
}

body {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dde5f4;
  height: 100vh;
}

.screen-1 {
  background-image: radial-gradient(farthest-corner at 50% 1%, #FFFDD6, #FFB53F);
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  gap: 2em;
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s;
}
.screen-1 .logo {
  margin: 10%;
  margin-bottom: 25%;
}
.screen-1 .userid {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-top: -3em;
}
.screen-1 .userid input {
  outline: none;
  border: none;
  padding: auto;
}
.screen-1 .userid input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .userid input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .userid input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .userid ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}
.screen-1 .password input {
  outline: none;
  border: none;
  padding: auto;
}
.screen-1 .password input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password .show-hide {
  margin-right: -5em;
}
.screen-1 .regis {
  padding: 1em;
  background: #3e4684;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-family: 'NunitoSans';
}
.screen-1 .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5e5e5e;
  font-size: 0.8em;
  padding-bottom: 3em;
  border: none;
  text-align: center;
}
.screen-1 .footer a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.screen-1 .footer span {
  cursor: pointer;
}
button {
  cursor: pointer;
}
.screen-1 .login {
  padding: 1em;
  background: #3e4684;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-family: 'NunitoSans';
}

@keyframes animatebottom {
  0% { bottom:-100px; opacity:0 } 
  100% { bottom:0px; opacity:1 } 
}