/* Product Container */
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Individual Product */
.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    border-radius: 100px;
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 50px;
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-card .price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-left: 20px;
}

.navbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar button img {
    width: 24px;
    height: 24px;
}